.login-form {
  text-align: center;
}

.login-form input {
  margin: 4px 0px;
}

.login-form label {
  color: #140B6A;
}

#login-btn {
  padding: 2px 20px;
  border-radius: 4px;
  margin: 4px 0px;
  color: #140B6A;
  cursor: pointer;
}

.form-error {
  color: #140B6A;
}

#username {
  padding: 4px 8px;
  margin-bottom: 4px;
}

#password {
  padding: 4px 8px;
  margin-bottom: 4px;
}